<table id="leaderboard" class="table table-hover table-sm side-table">
  <thead class="thead-dark">
    <tr>
      <th class="participation-border-header" scope="col">Players</th>
      <th class="text-center hidden-sm">Wins</th>
      <th class="text-center">Win%</th>
    </tr>
  </thead>
  <tbody>
    <% if @participations.any? %>
      <% @participations.each do |participation| %>
        <% wins = Game.where(winner: participation.user).count %>
        <% games = participation.user.participations.where.not(final_score: nil).count %>
        <tr class="">
          <td class="cursor-hover participation-border-<%= participation.place %>" data-toggle="modal" data-target="#userModal-<%= participation.user.id %>"><%= participation.user.name %></td>
          <td class="text-center hidden-sm"><%= wins %>/<%= games %></td>
          <% if games.zero? %>
            <td class="text-center">0%</td>
          <% else %>
            <td class="text-center"><%= ((wins / games.to_f) * 100).round(1) %>%</td>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td>No players yet.</td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% @participations.each do |participation| %>
    <div id="user-modal-<%= current_user.id %>-<%= participation.user.id %>">
      <%= render 'users/show_modal', participation: participation %>
    </div>
  <% end %>