<table id="leaderboard" class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Players</th>
      <th class="text-center">Games</th>
      <th class="text-center">Avg</th>
    </tr>
  </thead>
  <tbody>
    <% if @participations.any? %>
      <% @participations.each do |participation| %>
        <tr>
          <td class="cursor-hover" data-toggle="modal" data-target="#userModal-<%= participation.user.id %>"><%= participation.user.name %></td>
          <td class="text-center"><%= participation.user.participations.where.not(final_score: nil).count %></td>
          <td class="text-center"><%= participation.user.average_score %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No players yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @participations.each do |participation| %>
  <%= render 'users/show_modal', participation: participation %>
<% end %>
