<table id="leaderboard" class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Big Boys</th>
      <th class="tex-center">#</th>
    </tr>
  </thead>
  <tbody>
    <% if @big_boys.any? %>
      <% @big_boys.each do |user| %>
        <tr>
          <td class="d-flex">
            <%= user.name %>
            <%= simple_form_for user, remote: true, method: :patch, url: big_boys_user_path(user), remote: true, html: { style: 'display: flex;justify-content: center' } do |f| %>
              <%= f.input :big_boys, as: :hidden, input_html: { value: user.big_boys + 1 } %>
              <%= hidden_field_tag :game_id, @game.id %>
              <%= button_tag type: 'submit', data: { confirm: "+1 to #{user.name}'s' big boys?" }, class: 'gray', style: 'border: none;background-color: transparent;display: flex;align-items:center;vertical-align:center' do %>
                <small class="gray"><i class="fas fa-plus"></i></small>
              <% end %>
            <% end %>
          </td>
          <td class="tex-center"><%= user.big_boys %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No big boys yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
