<table id="leaderboard" class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Leaderboard</th>
      <th>
        <%= simple_form_for(current_user) do |f| %>
          <%= f.input :big_boys, input_html: { value: current_user.big_boys + 1 } %>
          <%= button_tag type: 'submit', data: { confirm: "Add one to your big boys?" } do %>
            <i class="far fa-plus-square"></i>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @leaderboard.any? %>
      <% @leaderboard.each do |leader| %>
        <tr>
          <td><%= leader.user.name %></td>
          <td><%= leader.final_score %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No scores yet.</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

