<div class="container">
  <h1><%= @game.name.empty? ? "Yahtzee" : @game.name %></h1>

  <% unless @participation.id %>
    <%= simple_form_for [@game, @participation], remote: true do |f| %>
      <%= f.input :creator, as: :hidden, input_html: { value: false } %>
      <%= f.submit 'Join', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <p>Participants</p>
  <ol>
    <% @game.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ol>

  <div class="row">
    <% if @participation.id %>
      <%= link_to 'Leave game', participation_path(@participation), method: :delete, data: { confirm: "Leave game and lose progress?" }  %>
    <% end %>
  </div>
</div>
