<div class="container" id="game" data-game-id="<%= @game.id %>">
  <!-- <h1><%#= @game.name.empty? ? "Yahtzee" : @game.name %></h1> -->
  <p class="my-2"><input type="text" value="<%= game_url(@game) %>" readonly class='form-control'></p>
  <% unless @participation.id %>
    <%= simple_form_for [@game, @participation], remote: true do |f| %>
      <%= f.input :creator, as: :hidden, input_html: { value: false } %>
      <%= f.submit 'Join', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <%= render 'games/table' %>
      <div class="d-flex justify-content-center">
        <%= simple_form_for @game, method: :patch, url: finish_game_path(@game) do |f| %>
          <%= f.submit "Submit Scores", class: "btn btn-light border border-dark" %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <%= render 'games/leaderboard' %>
    </div>
  </div>

  <p>Participants</p>
  <ol>
    <% @game.users.each do |user| %>
      <li><%= user.name %> <%= link_to participation_path(@game.participations.find_by(user: user)), method: :delete, data: { confirm: "Leave game and lose progress?" } do %><small><i class="far fa-trash-alt gray"></i></small><% end %></li>
    <% end %>
  </ol>

  <div class="row">
    <% if @participation.id %>
      <%= link_to 'Leave game', participation_path(@participation), method: :delete, data: { confirm: "Leave game and lose progress?" }  %>
    <% end %>
  </div>
</div>
