<!-- <input type="text" value="<%= @game.code %>" readonly class='form-control w-100'> -->
<div class="container" id="game" data-game-id="<%= @game.id %>">
  <!-- <h1><%#= @game.name.empty? ? "Yahtzee" : @game.name %></h1> -->
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <%= render 'games/top_row' %>
      </div>
    </div>
  </div>

  <div class="row">
    <iframe src="https://www.elversonpuzzle.com/yahtzee-dice-roller.html#element164" frameborder="0" width="100%" class="mb-3 d-none" height="350px"></iframe>
    <div class="col-12 col-sm-6">
      <%= render 'games/table' %>
      <div class="d-flex justify-content-center mb-5">
        <%= render 'games/action_btns' %>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <%= render 'submissions/list' %>
      <%= render 'participations/list' %>
      <div id="leaderboard-container">
        <%= render 'games/leaderboard' %>
      </div>
      <%= render 'games/big_boys' %>
      <div class="text-right">
        <% if @participation.id %>
          <%= link_to 'Leave game', participation_path(@participation), method: :delete, data: { confirm: "Leave game and lose progress?" }, class: 'mb-3 subtle-gray'  %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">

  </div>
</div>
