<!-- changing this div will break everything -->
<div class="container" id="game" data-game-id="<%= @game.id %>">

  <%= simple_form_for @game, url: game_cursor_place_path(@game), method: :post, remote: true, html: { id: 'cursor_place' } do |f| %>
    <%= hidden_field_tag :cursor_place_id, nil, id: "cursor_place_id" %>
    <%= hidden_field_tag :participation_place, @participation.place %>
    <%= hidden_field_tag :user_id, current_user.id %>
  <% end %>


  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <%= render 'games/top_row' %>
      </div>
    </div>
  </div>

  <div class="row">
    <iframe src="https://www.elversonpuzzle.com/yahtzee-dice-roller.html#element164" frameborder="0" width="100%" class="mb-3 d-none" height="350px"></iframe>
    <div class="col-12 col-sm-8 col-md-8 col-lg-6">
      <%= render 'games/table' %>
      <div class="d-flex justify-content-center mb-5">
        <%= render 'games/action_btns' %>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-6">
      <%= render 'submissions/list' %>
      <div id="participations-container" class="mt-2">
        <%= render 'participations/list' %>
      </div>
      <div id="leaderboard-container">
        <%= render 'games/leaderboard' %>
      </div>
      <div id="big-boys-container">
        <%= render 'games/big_boys' %>
      </div>
      <div class="text-right d-flex flex-column">
        <% if @participations.any? && @participation.id %>
          <%= link_to 'Remove a player', '#', data: { toggle: "modal", target: '#removeModal' }, class: 'mb-1 lighter-gray'  %>
          <div id="remove-modal">
            <%= render 'participations/remove_modal' %>
          </div>
        <% end %>
        <% if @participation.id %>
          <%= link_to 'Leave game', participation_path(@participation), method: :delete, data: { confirm: "Leave game and lose progress?" }, class: 'mb-3 lighter-gray'  %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">

  </div>
</div>
