<div class="message-container submission" id="submission-<%= submission.id %>">
  <i class="author">
    <span><%= submission.user.name %></span>
    <small>
      <%= submission.updated_at.in_time_zone(user.time_zone).strftime('%l:%M %p') %>
      <% unless submission.submitter == submission.user %>
        (by: <%= submission.submitter.name %>)
      <% end %>
    </small>
  </i>
  <p><%= submission.category.name %> - <%= submission.value %></p>
</div>
